<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>loginAdmin</servlet-name>
        <servlet-class>dev.lhphong.bankapi.Controller.admin.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginAdmin</servlet-name>
        <url-pattern>/login-admin</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>clientFilter</filter-name>
        <filter-class>dev.lhphong.bankapi.Filter.ClientFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>clientFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>